# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
.vs/TestLua/v16/ipch/AutoPCH/2e237478d9410b28/DARWIN.ipch
.vs/TestLua/v16/ipch/AutoPCH/7818bb4138509b1e/MAIN.ipch
.vs/TestLua/v16/.suo
.vs/TestLua/v16/Browse.VC.db
.vs/TestLua/v16/Browse.VC.db-shm
.vs/TestLua/v16/Browse.VC.db-wal
.vs/TestLua/v16/Browse.VC.opendb
/x64
TestLua/x64/Debug/TestLua.exe.recipe
TestLua/x64/Debug/TestLua.ilk
TestLua/x64/Debug/TestLua.log
TestLua/x64/Debug/TestLua.vcxproj.FileListAbsolute.txt
TestLua/x64/Debug/vc142.idb
TestLua/x64/Debug/vc142.pdb
TestLua/x64/Debug/vcpkg.applocal.log
TestLua/x64/Debug/TestLua.tlog/CL.command.1.tlog
TestLua/x64/Debug/TestLua.tlog/CL.read.1.tlog
TestLua/x64/Debug/TestLua.tlog/CL.write.1.tlog
TestLua/x64/Debug/TestLua.tlog/link.command.1.tlog
TestLua/x64/Debug/TestLua.tlog/link.read.1.tlog
TestLua/x64/Debug/TestLua.tlog/link.write.1.tlog
TestLua/x64/Debug/TestLua.tlog/TestLua.lastbuildstate
TestLua/x64/Debug/TestLua.tlog/TestLua.write.1u.tlog
TestLua/TestLua.vcxproj
TestLua/x64/Debug/TestLua.Build.CppClean.log
