# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.TestLua.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Benjamin.Fager\Documents\GitHub\NeuralNetworkBT\.idea\.idea.TestLua\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
